name: Build & Cache flake outputs

on: push
permissions:
  contents: read

jobs:
  build-and-cache:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - uses: wimpysworld/nothing-but-nix@main
        with:
          root-safe-haven: "8192"
          mnt-safe-haven: "4096"

      - uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            accept-flake-config = true

      - uses: cachix/cachix-action@v15
        with:
          name: supa

      - name: Build flake outputs
        run: |
          nix run github:juspay/omnix -- ci run \
            --results=$HOME/omci.json

      - name: Push to Cachix
        env:
          CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        if: env.BRANCH_NAME == 'main'
        run: |
          nix run github:juspay/cachix-push -- \
            --subflake root \
            --prefix "${BRANCH_NAME}" \
            --cache supa \
            < $HOME/omci.json
